#app-box {
	margin-top: 3rem;
}

.btns {
	width: 50%;
	padding-top: 50%;
	border: solid #474747;
}

.btns:hover {
	cursor: pointer;
}

#top-left-btn {
	float: left;
	background-color: #7cbd6e;
	margin: 0 -0.5rem -0.5rem 0;
	border-width: 1.0rem 0.5rem 0.5rem 1.0rem;
	border-radius: 100% 0 0 0;
}
#top-right-btn {
	float: right;
  background-color: #ab3f4f;
	margin: 0 0 -0.5rem -0.5rem;
	border-width: 1.0rem 1.0rem 0.5rem 0.5rem;
  border-radius: 0 100% 0 0;
}
#bottom-left-btn {
	float: left;
	background-color: #e3e085;
	margin: -0.5rem -0.5rem 0 0;
	border-width: 1.0rem 0.5rem 1.0rem 1.0rem;
	border-radius: 0 0 0 100%;
}
#bottom-right-btn {
	float: right;
	background-color: #326e94;
	margin: -0.5rem 0 0 -0.5rem;
	border-width: 1.0rem 1.0rem 1.0rem 0.5rem;
	border-radius: 0 0 100% 0;
}

#center-btn {
	position: absolute;
	left: 25%;
	top: 25%;
	width: 50%;
	padding-top: 50%;
	background-color: #c6c6c6;
	margin-top: -0.5rem;
	border: solid #424242 1rem;
	border-radius: 100% 100% 100% 100%;
}

#start-btn {
	position: absolute;
	bottom: 5%;
	transform: translateX(50%);
}

#scoreboard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 400%;
}

#option-box {
	position: absolute;
	left: 20%;
	top: 50%;
	width: 60%;
	padding-top: 60%;
	z-index: -1;
	border: solid #8c8c8c 0.5rem;
	border-radius: 1rem;
	background-color: #c6c6c6;
}

#slider-box {
	position: relative;
	width: 50%;
	float: right;
}

#drag-btn {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	bottom: 0;
}

#signature {
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 2rem;
}

#signature a {
	text-decoration: none;
}

.fa:hover {
	cursor: pointer;
}

@media only screen and (max-height: 400px) {
  #signature {
    display: none;
  }
}
