#app-box {
	margin-top: 3rem;
}

.btns {
	width: 50%;
	padding-top: 50%;
	border: solid black;
}

.btns:hover {
	cursor: pointer;
	box-shadow: inset 0 0 1rem 0 rgb(0,0,0);
}

#top-left-btn {
	float: left;
	background-color: green;
	border-width: 0.5rem 0 0 0.5rem;
	border-radius: 100% 0 0 0;
}
#top-right-btn {
	float: right;
  background-color: red;
	border-width: 0.5rem 0.5rem 0 0;
  border-radius: 0 100% 0 0;
}
#bottom-left-btn {
	float: left;
	background-color: yellow;
	border-width: 0 0 0.5rem 0.5rem;
	border-radius: 0 0 0 100%;
}
#bottom-right-btn {
	float: right;
	background-color: blue;
	border-width: 0 0.5rem 0.5rem 0;
	border-radius: 0 0 100% 0;
}

#center-btn {
	position: absolute;
	left: 25%;
	top: 25%;
	width: 50%;
	padding-top: 50%;
	background-color: grey;
	border: solid black 0.5rem;
	border-radius: 100% 100% 100% 100%;
}

#option-box {
	position: absolute;
	left: 20%;
	top: 50%;
	width: 60%;
	padding-top: 60%;
	z-index: -1;
	border: solid black 0.5rem;
	border-radius: 1rem;
	background-color: grey;
}
